<html>
	<head>
		<link href="styles/bootstrap.css" rel="stylesheet" />
		<link href="styles/look-cool.css" rel="stylesheet" />
	</head>

	<body ng-app="lookinCoo" ng-controller="LookinCoo">
		<button type="button" class="stop" ng-hide="stopped" ng-click="stop()"><i class="glyphicon glyphicon-stop"></i></button>
		<button type="button" class="start" ng-hide="!stopped" ng-click="start()"><i class="glyphicon glyphicon-play-circle"></i></button>
		<button type="button" class="settings" ng-hide="settingsOpened" ng-click="settingsOpened = true; stop()"><i class="glyphicon glyphicon-wrench"></i></button>

		<ul class="inputted-data">
			<li class="line" scroll-if="line.number === line_number - 1" ng-repeat="line in lines">
				<span class="line-number">{{line.number}}</span>
				<pre class="line-content">{{line.content}}</pre>
			</li>
		</ul>

		<div class="console-input">
			<div class="line-number">&nbsp;</div>
			<pre class="console-placeholder">{{current_text}}</pre>
			<span class="cursor"></span>
		</div>

		<div class="settings-menu" ng-show="settingsOpened">
			<button class="close-settings-menu" ng-click="settingsOpened = false; reloadSettings(); start()"><i class="glyphicon glyphicon-remove-circle"></i></button>
			<h2>Settings</h2>

			<p>
				<label for="intervalTime">Time Between keystrokes (in ms)</label>
				<input type="text" id="intervalTime" ng-model="type_character_time_in_ms" />
			</p>

			<p>
				<label for="changeText">What text do you want to show?</label>
				<textarea id="changeText" placeholder="Your Text Here ..." rows="10" cols="80" ng-model="settingsText"></textarea>
			</p>
		</div>

		<!-- External -->
		<script type="text/javascript" src="http://code.angularjs.org/1.2.9/angular.js"></script>
		<script type="text/javascript" src="http://code.angularjs.org/1.2.9/angular-route.js"></script>

		<script type="text/javascript" src="scripts/lookincoo.js"></script>
	</body>

</html>